body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

label {
  font: inherit;

  font-size: 14px;
  font-weight: 700;
}

input {
  font: inherit;

  font-size: 14px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
}

input:focus,
input:hover {
  background-color: #ebebeb;
}

input:active {
  background-color: #ffffff;
}

footer {
  color: #000000;
  background-color: #ffffff;
}

.background-grey {
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}

.main-navigation {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation,
.social-networks {
  list-style: none;
}

.site-navigation a {
  color: #766357;
}

.site-navigation a[href],
.social-networks a {
  color: #000000;
}

.site-navigation a[href]:focus,
.site-navigation a[href]:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.social-networks a:hover,
.social-networks a:focus {
  color: #669ec0;
}

.social-networks a:active {
  color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.index-background {
  background-image: url("../img/background-photo.jpg");
}

.hotels-background {
  background-image: url("../img/filter-background.jpg");
}

.welcome {
  background-image: url("../img/welcome.png");
  width: 459px;
  height: 353px;
  text-align: center;
  margin: 0 auto;
}

.description {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.five-reasons {
  list-style: none;
}

.reasons {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.reason-one,
.reason-two {
  background-color: #81b3d2;
}

.reason-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.reason-title-white {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.reason-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reason-description-white {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.common {
  list-style: none;
  background-color: #ffffff;
}

.common-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.common-title p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.appartment {
  background-image: url("../img/icon-1.svg");
  width: 75px;
  height: 72px;
}

.food {
  background-image: url("../img/icon-3.svg");
  width: 74px;
  height: 70px;
}

.souvenir {
  background-image: url("../img/icon-2.svg");
  width: 64px;
  height: 76px;
}

.searching {
  text-align: center;
}

.searching-form {
  background-color: #ffffff;
  /*Задать границы форме сейчас или когда буду строить сетки?*
  width: 568px;
  height: 395px;*/
}

.interest {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.instruction {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
}

.calendar {
  width: 21px;
  height: 22px;
}

/*.calendar:hover,
.calendar:focus {}

.calendar:active {}
*/
.map {
  width: 1200px;
  height: 593px;
}

.button {
  font: inherit;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button-brown {
  background-color: #766357;
}

.button-blue {
  background-color: #81b3d2;
}

.button-big {
  font-size: 21px;
  line-height: 26px;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/*Может объединить .social-button с button-blue?*/
.social-button {
  text-align: center;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  display: block;
}

.social-button:hover
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.created-by {
  text-align: right;
}

.range-field {
  border: solid 2px white;
}

.checkbox-criteria p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.checkbox-criteria label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.checkbox-criteria-input:active {
  background-color: #6a6a6a;
}

.range-input {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.checkbox-criteria-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: rgba(0, 1, 1, 0.2);
}

.checkbox-criteria-button:hover,
.checkbox-criteria-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.hotels-list ul {
  list-style: none;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.housing-description {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.criteria a[href] {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.criteria a[href]:hover,
.criteria a[href]:focus {
  color: #81b3d2;
}

.criteria a[href]:active {
  color: #000000;
}

.criteria a {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
}

.hotels-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotels-name:hover,
.hotels-name:focus {
  color: #81b3d2;
}

.hotels-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.rating {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

.four-stars {
  background-image: url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg");
  background-position: right;

  width: 18px;
  height: 17px;
  margin: 6px;
}

.three-stars {
  background-image: url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg");
  background-position: right;

  width: 18px;
  height: 17px;
  margin: 6px;
}

.two-stars {
  background-image: url("../img/star.svg"), url("../img/star.svg");
  background-position: right;

  width: 18px;
  height: 17px;
  margin: 6px;
}
