body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

label {
  font: inherit;

  font-size: 14px;
  font-weight: 700;
}

input {
  font: inherit;

  font-size: 14px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
}

input:focus,
input:hover {
  background-color: #ebebeb;
}

input:active {
  background-color: #ffffff;
}

footer {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.background-grey {
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}

.main-navigation {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation,
.social-networks {
  list-style: none;
}

.site-navigation a {
  color: #766357;
}

.site-navigation a[href],
.social-networks a {
  color: #000000;
}

.site-navigation a[href]:focus,
.site-navigation a[href]:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.social-networks a:hover,
.social-networks a:focus {
  background-color: #669ec0;
}

.social-networks a:active {
  opacity: 0.3;
  background-color: #5496bd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome {
  background-image: url("../img/welcome.png"), url("../img/background-photo.jpg");
  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  padding-top: 450px;
  background-position: center 76px, 0 -50px;
}

.description-section {
  background-color: #ffffff;
  padding-top: 60px;
}

.description {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.reasons-paragraph {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.reasons {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  list-style: none;
  padding: 0;
}

.reason-item-white {
  background-color: #81b3d2;
}

.reason-item {
  background-color: #f2f2f2;
}

.reason-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.reason-title-white {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.reason-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reason-description-white {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.common {
  list-style: none;
  background-color: #ffffff;
}

.common-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.common-title p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.appartment {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
}

.food {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center 62px;
}

.souvenir {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center 56px;
}

.searching {
  text-align: center;
}

.searching-form {
  background-color: #ffffff;
}

.interest {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.instruction {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
}

.calendar {
  width: 21px;
  height: 22px;
}

/*.calendar:hover,
.calendar:focus {}

.calendar:active {}
*/
.map {
  width: 1200px;
  height: 593px;
  display: block;
}

.button {
  font: inherit;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button-brown {
  background-color: #766357;
}

.button-blue {
  background-color: #81b3d2;
}

.button-big {
  font-size: 21px;
  line-height: 26px;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/*Может объединить .social-button с button-blue?*/
.social-button {
  text-align: center;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  display: block;
}

.social-button:hover
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.created-by {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: right;
}

.range-field {
  width: 220px;
  height: 32px;
  border: solid 2px white;
}

.form-filter {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}

.form-filter p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.form-filter label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.form-filter-input:disabled + label {
  background-color: #6a6a6a;
}

.range-input {
  background-color: transparent;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  width: 53px;
}

.form-filter-button {
  width: 133px;
  height: 32px;
  border: solid 2px #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
}

.form-filter-button:hover,
.form-filter-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.hotels-list {
  background-color: #ffffff;
  padding-top: 31px;
}

.hotels-list ul {
  list-style: none;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.housing-description {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.criteria a[href] {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.criteria a[href]:hover,
.criteria a[href]:focus {
  color: #81b3d2;
}

.criteria a[href]:active {
  color: #000000;
}

.criteria a {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
}

.hotels-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotels-name:hover,
.hotels-name:focus {
  color: #81b3d2;
}

.hotels-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.rating {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

.four-stars {
  background-image: url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 0, 24px, 48px, 72px;

  min-width: 72px;
  height: 17px;
}

.three-stars {
  background-image: url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 0, 24px, 48px;

  min-width: 72px;
  height: 17px;
}

.two-stars {
  background-image: url("../img/star.svg"), url("../img/star.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 0, 24px;

  min-width: 72px;
  height: 17px;
}

/*Сеточные стили*/
html,
body {
  min-width: 1280px;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.main-header {
  min-width: 1200px;
}

.main-navigation {
  min-width: 1200px;
}

.site-navigation {
  display: flex;
  min-width: 1200px;
  min-height: 56px;
  padding: 0;
  margin: 0;
}

.site-navigation-item:nth-child(4n+1) {
  padding-left: 72px;
}

.site-navigation-item:nth-child(4n+2) {
  padding-left: 12px;
}

.site-navigation-item:nth-child(4n+3) {
  text-align: right;
  padding-right: 12px;
}

.site-navigation-item:nth-child(4n+4) {
  text-align: right;
  padding-right: 72px;
}

.site-navigation-item  {
  width: 25%;
  height: 56px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.logo {
  width: 140px;
  height: 71px;
}

.description-title {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 216px;
  padding: 0;
  margin: 0;
}

.description {
  width: 440px;
  margin-top: 61px;
  margin-left: 380px;
}

.reasons {
  display: flex;
  flex-wrap: wrap;
}

.reason-item-white {
  width: 100%;
}

.reason-flex-one {
  display: flex;
  flex-wrap: wrap;
}

.reason-one {
  width: 400px;
  padding: 46px 60px 64px;
}

.common {
  display: flex;
  width: 100%;
}

.common-title {
  width: 400px;
  height: 330px;
  padding-top: 161px;
}

.reason-flex-two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.reason-two {
  width: 400px;
  padding: 49px 48px 49px 65px;
}

.reason-item {
  display: flex;
  flex-direction: column;
  width: calc(100%/3);
  height: 256px;
  justify-content: center;

  padding-top: 50px;
  padding-bottom: 64px;
}

.button-search-form {
  width: 568px;
  height: 86px;
}

.form-decoration {
  position: relative;
}

.searching-form {
  width: 568px;
  padding: 55px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  flex-wrap: wrap;
}

.button-search {
  width: 100%;
  height: 58px;
}

.appointment-item:nth-child(4n+3),
.appointment-item:nth-child(4n+4) {
  display: flex;
  width: 50%;
}

.flex-input {
  display: flex;
  width: 114px;
}

.flex-input-field {
  width: 38px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
}

.footer-flex {
  display: flex;
  width: 400px;
  text-align: center;
  justify-content: center;
}

.social-networks-flex:not(:first-child) {
  margin-left: 6px;
}



.form-filter {
  display: flex;
  padding: 31px 72px 31px 74px;
}

.form-filter-flex {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.form-filter-flex:not(:last-child) {
  margin-right: 115px;
}

.range-flex {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.sort-flex {
  display: flex;
  /*height: 86px;*/
  padding: 0 72px;
  margin: 0;
  align-items: center;
}

.results {
  margin-right: 49px;
}

.sort {
  margin-right: 40px;
}

.criteria {
  display: flex;
  margin: 0;
  padding: 0;
}

.criteria-flex {
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.criteria-flex li:not(:last-child) {
  padding-right: 33px;
}

.icon-flex {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: end;
}

.hotels-list-cards {
  padding: 0;
}

.flex-card {
  display: flex;
  padding: 30px 72px;
  margin: 0;
}

.cards-img {
  margin: 0 30px 0 0;
}

.flex-description {
  flex-grow: 1;
}


