body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

footer {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.background-grey {
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-navigation {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation,
.social-networks {
  list-style: none;
}

.site-navigation a {
  color: #766357;
}

.site-navigation a[href],
.social-networks a {
  color: #000000;
}

.site-navigation a[href]:focus,
.site-navigation a[href]:hover {
  color: #81b3d2;
}

.site-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.social-networks a:hover,
.social-networks a:focus {
  background-color: #669ec0;
}

.social-networks a:active {
  background-color: #5496bd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  display: block;
  background-image: url("../img/welcome.png"), url("../img/polygon.png"), url("../img/background-photo.jpg");
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  padding-top: 508px;
  background-position: center 76px, center 450px, 0 -82px;
  background-size: 459px 353px, 1202px 60px, 1200px 773px;
}

.description-section {
  background-color: #ffffff;
}

.description {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.115px;
  margin-top: 60px;
}

.reasons-paragraph {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  letter-spacing: 0.115px;
}

.reasons {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  list-style: none;
  padding: 0;
}

.reason-item-white {
  background-color: #81b3d2;
}

.reason-item {
  background-color: #f2f2f2;
}

.reason-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.reason-title-white {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.reason-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.reason-description-white {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.reason-description-white:nth-child(3n+2) {
  margin-top: 13px;
}

.reason-description-white:nth-child(3n+3) {
  margin-top: 10px;
}

.common {
  list-style: none;
  background-color: #ffffff;

  display: flex;
  width: 100%;
  padding: 0;
}

.common-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.common-title p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-top: 23px;
  letter-spacing: 0.115px;
}

.appartment {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
}

.food {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center 62px;
}

.souvenir {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center 56px;
}

.searching {
  text-align: center;
}

.searching-form {
  background-color: #ffffff;
}

.searching-form label {
  font-size: 14px;
  font-weight: 700;
}

.searching-form input {
  font-size: 14px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
}

.searching-form input[type=number]::-webkit-inner-spin-button,
.searching-form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searching-form input:hover {
  background-color: #ebebeb;
}

.searching-form input:focus,
.searching-form input:active {
  background-color: #ffffff;
}

.interest {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 49px;
}

.instruction {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 24px;

  letter-spacing: 0.25px;
}

.arrival-date {
  margin-top: 0;
}

.appointment-item-input {
  font-size: 14px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;

  width: 346px;
  height: 38px;
  padding: 0;
  padding-left: 10px;

  text-transform: uppercase;
}

.appointment-date {
  margin-top: 8px;
  margin-bottom: 9px;
}

.arrival-input {
  margin-left: 21px;
}

.btn-calendar-arrival {
  position: absolute;
  left: 480px;
  top: 61px;
  width: 25px;
  height: 26px;

  background-color: transparent;
}

.btn-calendar-appointment {
  position: absolute;
  left: 480px;
  top: 128px;
  width: 25px;
  height: 26px;

  background-color: transparent;
}

.calendar-arrival {
  position: absolute;
  top: 1.5px;
  left: 2.5px;
}

.calendar-appointment {
  position: absolute;
  top: 1.5px;
  left: 2.5px;
  fill: #cacaca;
}

.calendar-appointment:hover,
.calendar-appointment:focus{
  fill: #000000;
}

.calendar-appointment:active{
  fill: #81b3d2;
}

.adults-appointment,
.children-appointment {
  margin-bottom: 0;
}

.map {
  width: 1200px;
  height: 473px;
  display: block;

  position: 0 140px;
}

.button {
  font: inherit;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  vertical-align: middle;
  text-transform: uppercase;

  border: none;

  cursor: pointer;
}

.button-brown {
  background-color: #766357;
  padding: 4px 16px;
}

.button-blue {
  background-color: #81b3d2;
  padding: 4px 17px;
}

.button-big {
  font-size: 21px;
  line-height: 26px;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.social-button {
  text-align: center;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  display: block;
}

.social-button:hover
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  fill-opacity: 0.3;
}

.created-by {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: right;
}

footer .created-by {
  margin-top: 38px;
}

.website-by {
  padding: 0;
  margin: 0;
  padding-top: 7px;
}

.creator-logo {
  width: 115px;
  height: 41px;
  padding: 0;
  margin: 0;
  margin-left: 9px;
}

.creator-logo:hover,
.creator-logo:focus {
  fill: #81b3d2;
}

.creator-logo:active {
  fill: #bdbbbc;
}

.form-filter {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -292px;
}

.form-filter-legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 24px;
}

.form-filter-section {
  list-style-type: none;
}

.form-filter-option {
  position: relative;
  margin-bottom: 22px;
  padding-left: 40px;
}

.option-three {
  margin-bottom: 0;
}

.form-filter-label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.form-filter-label::before {
  display: block;
  float: left;
  cursor: pointer;
  position: absolute;
  left: 0;
}

.form-filter-input+.form-filter-label::before {
  width: 23px;
  height: 23px;
  content: '';
  background: url('../img/checkbox-off.svg') no-repeat 0 0;
}

.form-filter-input:checked+.form-filter-label::before {
  width: 27px;
  height: 23px;
  content: '';
  background: url('../img/checkbox-on.svg') no-repeat 0 0;
}


.form-filter-input:disabled + label {
  background-color: #6a6a6a;
}

.form-filter-button {
  width: 133px;
  height: 32px;
  border: solid 2px #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
}

.form-filter-button:hover,
.form-filter-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.hotels-list {
  background-color: #ffffff;
  padding-top: 34px;
}

.hotels-list ul {
  list-style: none;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.housing-description {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.sort-link[href] {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  padding: 0;
  border-bottom: 1px dashed #81b3d2;
}

.sort-link[href]:hover,
.sort-link[href]:focus {
  color: #81b3d2;
  padding: 0;
  padding-bottom: 3px;
  border-bottom: 1px dashed #81b3d2;
}

.sort-link[href]:active {
  color: #000000;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
}

.arrows {
  margin: 0;
  margin-top: -6px;
  margin-left: auto;
}

.link-up,
.link-down {
  position: relative;
  width: 11px;
  height: 10px;
}

.link-up path,
.link-down path {
  fill: #81b3d2;
}

.link-up[href] path,
.link-down[href] path {
  fill: #cacaca;
}


.link-up {
  margin-right: 7px;
}

.link-up:hover[href] path,
.link-up:focus[href] path,
.link-down:hover[href] path,
.link-down:focus[href] path {
  fill: #000000;
}

.link-up:active path,
.link-down:active path {
  fill: #81b3d2;
}


.hotels-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotels-name:hover,
.hotels-name:focus {
  color: #81b3d2;
}

.hotels-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.rating {
  margin: 0;
  margin-top: 45px;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
  padding: 5px 13px 6px 16px;
}

.four-stars {
  background-image: url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 0, 24px, 48px, 72px;

  height: 17px;

  /*margin-top: 1px;*/
  margin-left: 22px;
}

.three-stars {
  background-image: url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 0, 24px, 48px;

  height: 17px;

  /*margin-top: 3px;*/
  margin-left: 47px;
}

.two-stars {
  background-image: url("../img/star.svg"), url("../img/star.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 0, 24px;

  height: 17px;

  /*margin-top: 7px;*/
  margin-left: 71px;
}




/*Сеточные стили*/
html,
body {
  min-width: 1280px;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.main-header {
  min-width: 1200px;
}

.main-navigation {
  min-width: 1200px;
}

.site-navigation {
  display: flex;
  min-width: 1200px;
  min-height: 56px;
  padding: 0;
  margin: 0;
}

.site-navigation-item:nth-child(4n+1) {
  padding-left: 72px;
}

.site-navigation-item:nth-child(4n+2) {
  padding-left: 12px;
}

.site-navigation-item:nth-child(4n+3) {
  text-align: right;
  padding-right: 13px;
  letter-spacing: 0.45px;
}

.site-navigation-item:nth-child(4n+4) {
  text-align: right;
  padding-right: 72px;
}

.site-navigation-item  {
  width: 25%;
  height: 56px;
  padding-top: 19px;
  padding-bottom: 22px;
}

.site-navigation-item a {
  position: relative;
  bottom: 5px;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  /*left: 530px;*/
}

.logo {
  width: 140px;
  height: 71px;
}

.description-title {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 216px;
  padding: 0;
  margin: 0;
}

.reasons {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reason-item-white {
  width: 100%;
}

.reason-flex-one {
  display: flex;
  flex-wrap: wrap;
}

.reason-one {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 47px 40px 59px;
  margin: 0;
  justify-content: space-between;
}

.reason-one-span {
  letter-spacing: 0.4px;
}

.common-title {
  width: 400px;
  height: 330px;
  padding-top: 161px;
}

.reason-flex-two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.reason-two {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0;
  justify-content: space-between;
  padding: 45px 49px 61px 48px;
}

.reason-photo {
  max-height: 256px;
}

.reason-item {
  display: flex;
  flex-direction: column;
  width: calc(100%/3);
  height: 256px;
  justify-content: space-between;
}

.reason-three {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0;
  justify-content: space-between;
  padding: 46px 94px 60px 93px;
  letter-spacing: 0.115px;
}

.reason-four {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0;
  justify-content: space-between;
  padding: 46px 64px 60px 64px;
  letter-spacing: 0.115px;
}

.reason-five {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0;
  justify-content: space-between;
  padding: 46px 72px 60px;
}

.appointment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 0;
}

.button-search-form {
  width: 568px;
  height: 86px;
  padding: 0;
  margin: 0;
  margin-top: 47px;
}

.form-decoration {
  position: relative;
}

.searching-form {
  width: 568px;
  padding: 56px 55px 55px 56px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-search {
  width: 100%;
  height: 58px;
  padding: 0;
  margin: 0;
  margin-top: 24px;
}

.appointment-item:nth-child(4n+3) {
  width: 226px;
}

.appointment-item:nth-child(4n+4) {
  width: 228px;
}

.ai-children {
  padding: 0;
  margin: 0;
  margin-left: 50px;
}

.flex-input {
  display: flex;
  width: 114px;
  margin: 0;
  padding: 0;
}



.flex-input-field {
  font-size: 14px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;

  width: 38px;
  padding-left: 16px;
}

.btn-minus,
.btn-plus {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  position: relative;
}

.btn-minus::before, .btn-plus::before, .btn-plus::after {
  content: '';
  display: block;
  background-color: #c6c6c6;
  position: absolute;
  }

  .btn-minus::before {
  top: 18px;
  left: 13px;
  width: 12px;
  height: 3px;
  }

  .btn-plus::after {
  width: 3px;
  height: 11px;
  top: 14px;
  left: 18px;
  }

  .btn-plus::before {
  width: 11px;
  height: 3px;
  left: 14px;
  top: 18px;
  }

  .btn-plus:hover::before,
  .btn-plus:hover::after,
  .btn-minus:hover::before {
  background-color: #000000;
  }

  .btn-plus:active::before,
  .btn-plus:active::after,
  .btn-minus:active::before {
  background-color: #81b3d2;
  }

.btn-minus-adult {
  margin-left: 0;
  padding: 0;
}

.btn-minus-child {
  margin-left: 0;
  padding: 0;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 31px;
  align-items: center;
}

.footer-flex {
  display: flex;
  width: 400px;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 29px;
}

.social-networks-flex {
  position: relative;
}

.social-networks-flex:not(:first-child) {
  margin-left: 6px;
}

.social-TW {
  position: absolute;

  bottom: 16px;
  left: 15px;
}

.social-FB {
  position: absolute;

  bottom: 13px;
  left: 17px;
}

.social-YT {
  position: absolute;

  bottom: 16px;
  left: 13px;
}

.form-filter {
  display: flex;
  padding: 27px 72px 29px 72px;
}

.form-filter-flex {
  display: flex;
  flex-direction: column;

  width: 140px;
  border: none;

  margin: 0;
  padding: 0;
}

.form-filter-flex:not(:last-child) {
  margin-right: 118px;
}

.form-filter-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.filter-range {
  width: 330px;
  padding: 0;
  margin-left: 232px;
  margin-right: 0;

  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;

  letter-spacing: 0.115px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  font-weight: 700;
  line-height: 33px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 147px;
  height: 35px;
  padding-left: 64px;
}

.price-controls input {
  font-size: 14px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;

  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 34px;
}

.range-controls .scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 83px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background-color: #ffffff;
}

.sort-flex {
  display: flex;
  /*height: 86px;*/
  padding: 0 72px;
  margin: 0;
  align-items: center;
}

.results {
  margin: 0;
  margin-top: -3px;
  margin-right: 47px;
}

.sort {
  margin: 0;
  margin-right: 40px;
}

.criteria {
  display: flex;
  margin: 0;
  margin-top: -4px;
  padding: 0;
}

.criteria-flex {
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.criteria-flex li:not(:last-child) {
  padding-right: 33px;
}

.icon-flex {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.hotels-list-cards {
  padding: 0;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 2px;
}

.flex-card {
  display: flex;
  padding: 30px 72px 26px 72px;
  margin: 0;

  border-top: 1px solid rgba(0, 1, 1, 0.2);
}

.flex-card:nth-child(3n+3) {
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.cards-img {
  margin: 0px 30px 0 0;
}

.flex-description {
  flex-grow: 1;
}

.hotels-title {
  margin: 0;
  margin-top: -4px;
  margin-bottom: 9px;
  letter-spacing: 0.3px;
}

.motels-title {
  margin: 0;
  margin-top: -4px;
  margin-bottom: 6px;
  letter-spacing: 0.3px;
}

.appartments-title {
  margin: 0;
  margin-top: -4px;
  margin-bottom: 6px;
  letter-spacing: 0.27px;
}

.housing-cost {
  display: flex;
  padding: 0;
  margin: 0;
}

.hotels-cost p {
  margin-top: -3px;
  margin-right: 39px;
}

.motels-cost p {
  margin-top: 0px;
  margin-right: 64px;
}

.appartments-cost p {
  margin-top: 1px;
  margin-right: 20px;

  letter-spacing: 0.115px;
}

.hotels-buttons {
  margin: 0;
  margin-top: 16px;
}
