.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  width: 140px;
  height: 71px;
}

.background-photo {
  width: 1200px;
  height: 773px;
}

.welcome {
  width: 459px;
  height: 353px;
}

.logo-htmla {
  width: 115px;
  height: 41px;
  background-color: #231f20;
}

.icon-down-dir {
  width: 11px;
  height: 10px;
  background-color: #81b3d2;
}

.icon-up-dir {
  width: 11px;
  height: 10px;
  background-color: #cacaca;
}

.star {
  width: 18px;
  height: 17px;
}

.tw-icon {
  width: 17px;
  height: 15px;
}

.fb-icon {
  width: 12px;
  height: 22px;
}

.youtube-icon {
  width: 20px;
  height: 16px;
}

.hotel-picture {
  width: 135px;
  height: 90px;
}

